.container{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task button{
  margin: 5px;

}

ul li{
  color: white;
}

ul li button{
  margin: 5px;
}

.heading{
  color: white;
}

